<h1 style="color: rebeccapurple; font-size: 30px;text-align: center;">Input Type</h1>
<div style="  display: inline-flex;flex-direction: column; margin: 10px;">
Name : <input type="text" placeholder="text" style="border: 2px solid black;">
password : <input type="password" placeholder="password" style="border: 2px solid black;">
textarea:<textarea id="w3review" name="w3review" rows="4" cols="50" style="border: 2px solid black;">Define a multi-line text input</textarea>

</div>

<div class="">
    <button routerLink = "/SkillSet" class="flex mx-auto text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">Back</button>
</div>